<h1 >directives</h1>
<h5 *ngFor="let age of ages">{{age}}</h5>
<ol>
    <li  *ngFor="let age of ages">{{age}}</li>
</ol>
<table border="2" cellSpacing="0" cellPadding="10">
    <thead>
        <tr>
            <th>name</th>
            <th>price</th>
            <th>rating</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td [ngStyle]="{'color':product.price<=2000?'green':'red'}">{{product.price}}</td>
            <td [ngClass]="{'green':product.rating>3.5,'yellow':product.rating>2.5 && product.rating<3.5,'red':product.rating<=2.5}">{{product.rating}}</td>
        </tr>
    </tbody>
</table>

<h1 *ngIf="false">ng if directive true</h1>
<h1 *ngIf="true">ng if directive false</h1>