               <div class="d-flex  w-50 justify-content-between align-items-center bg-danger p-2">

                   <img src="{{vehicle.image}}" width="300px"height="250px" alt="noimg">
                   <ol>
                       <li>Vehicle name :{{ vehicle.Vehicle }}</li>
                       <li>cost:{{ vehicle.cost  }}</li>
                       <li>color:{{ vehicle.color }}</li>
                       <li>model: {{ vehicle.model }}</li>
                       <li>type :{{ vehicle.type }}</li>
                       <li>fuel :{{ vehicle.fuel }}</li>
                       <li>manufacturer:{{vehicle.manufacturer}}</li>
                       <li>tyres:{{vehicle.tyres}}</li>
                    </ol>
                </div>

           
            
           
           
           
         
            
           
            
               