
<div class="w-100 h-100 d-flex justify-content-center align-items-center">
<div class="card w-25 h-75 p-5">
<label>Account Name</label>
<input [(ngModel)]="account_name" type="text"><br>
<label>Balance</label>
<input [(ngModel)]="available_balance" type="number"><br>
<label>Account number</label>
<input [(ngModel)]="account_number" type="number"><br>
<label>city</label>
<input [(ngModel)]="city" type="text"><br>
<label>profile picture</label>
<input [(ngModel)]="profie_picture" type="text"><br>
<label>Ifsc Code</label>
<input [(ngModel)]="ifsc_code" type="text"><br>
<button class="btn btn-success" (click)="submit()">Submit</button>
</div>
</div>

