 <div class="w-100 h-100 d-flex justify-content-center align-items-center">
    <form class="card" [formGroup]="userForm">
        <h4 class="text-light mb-3">Sign In</h4><br>
        <input class="text-field text-field2" type="text" placeholder="Email Address" formControlName="email"><br><br>
        <div class="password-div">
            <input class="text-field text-field2" [type]="visible?'text':'password'" placeholder="Password" formControlName="password">
            <i class="bi" [ngClass]="{'bi-eye':visible,'bi-eye-slash-fill':!visible,}" (click)="toglevisible()"></i>
        </div><br><br>
        <Button class="sigin btn spbtn" (click)="sigin()" >Sign in</Button><br><br>
        <hr>   
    </form>
</div>