<div class="d-flex w-100 h-100 justify-content-center align-items-center">

    <div class="d-flex card justify-content-around align-items-center p-3 data bg-primary">
        <h3 class="text-center text-primary fw-bold">{{card.name}}</h3>
        <img src={{card.profile_picture}} width="250px" height="250px" class="rounded" alt={{card.name}}>
        <hr>
    
        <ul class="ms-5 text-secondary fw-bold">
    <li>Name   : {{card.name}}</li>
    <li>City   : {{card.city}}</li>
    <li>D.O.B  : {{card.dob}}</li>
    <li>Phone  : {{card.phone}}</li>
    <li>Email  : {{card.email}}</li>
    <li>School city : {{card.school_city}}</li>  
    <li>School name : {{card.school_name}}</li>  
    <li>School pin  :{{card.school_pin}}</li>  

</ul>
</div>




</div>