<div class="parent">
<div class="left">
    <h1>Dashboard</h1>
    <hr>
    <div class="sidenav">
    <h2 routerLink="/dashboard">Home</h2>
    <h2 routerLink="welcome">Welcome</h2>
    <h2 routerLink="data-binding">data binding</h2>
    <h2 routerLink="directives">directives</h2>
    <h2 routerLink="calculator">Calculator</h2>
    <h2 routerLink="rectangle">Rectangle</h2>
    <h2 routerLink="circle">Circle</h2>
    <h2 routerLink="bmi">Bmi</h2>
    <h2 routerLink="employee">Employee</h2>
    <h2 routerLink="vehicles">vehicles</h2>
    <h2 routerLink="mail">Mail</h2>
    <h2 routerLink="flipkart">Flipkart</h2>
    <h2 routerLink="weather">Weather</h2>
    <h2 routerLink="gallery">Gallery</h2>
    <h2 routerLink="idcards">Id Cards</h2>
</div>

    <hr>
    <button>Logout</button>
</div>
<div class="right">
    <router-outlet></router-outlet>
</div>
</div>

